<section class="hero is-primary is-medium is-fullheight-with-navbar" >
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <!-- <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item" href="/posts">
                Posts
              </a>              
            </div>
          </div>
        </div>
      </nav> -->
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {{site.name}}
        </h1>
        <h2 class="subtitle">
          {{site.about}}
        </h2>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
  </section>