@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Istok Web";
  src: url("/assets/fonts/Istok_Web/IstokWeb-Regular.ttf");
}
