{% include head.html %}

<body>

    <div id="site-body" class="site-ctr jhidden">
        <!-- Navbar -->
        {% include nav.html %}

        <div class="landing container">

            <div style="height:15vh;"></div>
            <img id="face-backdrop" src="/assets/images/face-backdrop.png">

            <div style="height:20vh;"></div>
            <div class="nudge-right">
                <h1 id="name-landing">{{site.title}}</h1>
                <h3 id="me-landing">Programmer</h3>
            </div>

        </div>
        <div class="landing-more container">
            <h5><a href="/blog">Blog</a> <a href="/projects">Projects</a> <a href="/events">Events</a> <a
                    href="#whoami">More</a></h5>
        </div>


        <div class="reactive-bg">
            <div class="home container">


                <!-- <div class="profile">
                    <img src="{{site.baseurl}}/assets/images/human-profile.jpg">
                </div> -->


                <div class="info">
                    <div id="mobile-title">
                        <div style="height:25vh;"></div>
                        <h1 class="blocky">{{site.title}}</h1>
                        <h3 id="me-landing" style="text-align:center">Programmer</h3>
                    </div>




                </div>
            </div>

            <div class="sharp-top proj-graph">
                <div class="container">

                    <h2>My goal is to create something new every day</h2>

                    <canvas id="goalChart"></canvas>
                </div>
            </div>

        </div>


    </div>


    {% include footer.html %}

    <script src="/assets/js/page.js"></script>
    <script>
        // This script ensures assets have loaded before showing page //

        // Once the page has loaded, show everything again
        addListenerForPageReady(() => {
            document.getElementById("site-body").classList.remove("jhidden");
            document.getElementById("site-body").classList.add("appear");
        });

        // Add a callback for image load
        addLoadRequirement((callback) => {
            document.getElementById("face-backdrop").decode().then(() => {
                callback();
            })
        })


    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('goalChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>

</body>